@inject SignInManager<ApplicationUser> users

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script asp-append-version="true" src="~/lib/jquery/jquery.js"></script>
    <script asp-append-version="true" src="~/lib/jqueryui/jquery-ui.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script asp-append-version="true" src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link asp-append-version="true" href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ASP MVC APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @*<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>*@
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Create">Create</a>
                </li>
                @if (users.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <label class="nav-link">@User.Identity.Name</label>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                }
                @if (users.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admininstration Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Administrator" asp-action="CreateRole">Create Role</a>
                            <a class="dropdown-item" asp-controller="Administrator" asp-action="DisplayRoles">Display Role</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" asp-controller="Administrator" asp-action="DisplayUsers">Display Users</a>
                        </div>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">-->
                @*<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>*@
                <!--<a class="brand" asp-controller="Home" asp-action="Index">Home</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <a asp-controller="Home" asp-action="Create">Create</a>
                        </li>
                        <li>
                            <a asp-controller="Administrator" asp-action="CreateRole">Create Role</a>
                        </li>
                        <li>
                            <a asp-controller="Administrator" asp-action="DisplayRoles">Display Role</a>
                        </li>
                        @if (users.IsSignedIn(User))
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                            <li>
                                <label>@User.Identity.Name</label>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>-->
                @*<ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Create">Create</a>
                    </li>
                    @if (users.IsSignedIn(User))
                    {
                        <li>
                            <a asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                        <li>
                            <label>@User.Identity.Name</label>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>*@
            <!--</div>
        </div>
    </div>-->
    <div class="container">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true);
    }
</body>
</html>
